$codeBgColor = #282c34
$codeHighlightLineColor = rgba(0, 0, 0, 66%)
$codeLang = js ts html md vue css sass scss less stylus go java c c\+\+ sh shell yaml py docker dockerfile makefile mysql sql cmd

.post-container .page{
    max-width: 1000px;    
}

.content__default:not(.custom) img{
    margin: 1.5em auto 1.6em 0em !important;
}